@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #d4d4d8;
  margin: 0;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #18181b; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #FDBD01; }
